<a href="https://colab.research.google.com/github/summerse40/ARM/blob/main/SQL_Finance_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import sqlite3
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

In [15]:
def create_table():
    query = """
    CREATE TABLE IF NOT EXISTS finance (
        id INTEGER PRIMARY KEY,
        date TEXT,
        description TEXT,
        category TEXT,
        amount FLOAT
    );
    """
    conn.execute(query)
    conn.commit()

create_table()

In [16]:
def insert_data(date, description, category, amount):
    query = """
    INSERT INTO finance (date, description, category, amount)
    VALUES (?, ?, ?, ?);
    """
    conn.execute(query, (date, description, category, amount))
    conn.commit()

# Sample data insertion
insert_data('2023-08-21', 'Groceries', 'Food', -50.25)
insert_data('2023-08-20', 'Salary', 'Income', 1000.00)

In [17]:
def fetch_data():
    query = """
    SELECT * FROM finance;
    """
    return pd.read_sql(query, conn)

# Display the data
print(fetch_data())

   id        date description category   amount
0   1  2023-08-21   Groceries     Food   -50.25
1   2  2023-08-20      Salary   Income  1000.00

In [18]:
def get_balance():
    query = """
    SELECT SUM(amount) as Total_Balance FROM finance;
    """
    return pd.read_sql(query, conn)

print(get_balance())

   Total_Balance
0         949.75

In [20]:
def get_expense_by_category(category):
    query = """
    SELECT category, SUM(amount) as Total_Expense
    FROM finance
    WHERE category = ? AND amount < 0;
    """
    return pd.read_sql(query, conn, params=(category,))

print(get_expense_by_category('Food'))

  category  Total_Expense
0     Food         -50.25